button {
  background: linear-gradient(90deg,var(--accent1),var(--accent2));
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: transform .2s ease;

  &:hover {
    transform: translateY(-2px);
  }

  &.large {
    padding: 15px 25px;
    font-size: 18px;
  }

  &.secondary {
    background: #777;
  }
}


.btn-primary.outline, .btn-outline {
  display: inline-block;
  background: transparent;
  color: var(--accent2);
  box-shadow: none;
  border: 2px solid var(--accent2);
  padding: 8px 14px;
  border-radius: 6px;
  text-decoration: none;
}

.btn-primary {
  display: inline-block;
  background: linear-gradient(135deg,var(--accent1),var(--accent2));
  color: #fff;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow: 0 8px 30px rgba(0,0,0,0.18);
  transition: background-position .35s ease, transform .12s ease;
  background-size: 200% 100%;
  text-decoration: none;

  &:hover {
    transform: translateY(-2px);
  }
}
